@font-face {
    font-family: 'MiloWeb';
    src: url('../../styles/MiloWeb.woff');
}

@font-face {
    font-family: 'MiloWebBold';
    src: url('../../styles/MiloWeb-Bold.woff')
}

@font-face {
    font-family: 'MiloWebLight';
    src: url('../../styles/MiloWeb-Light.woff');
}

.cart {
    margin-top: 40px;
    
}

.subtotal {
    background-color: #00a6ca;
    border-radius: 7px;
    color: white;
    height: 100%;
    padding: 1.5rem;
    font-size: 15px;
    h3 {
        color: white;
    }
}

h1 {
    color: rgb(83, 83, 83);
}

h2 {
    color: white;
}

h3 {
    font-family: 'MiloWebBold';
    color: rgb(83, 83, 83);
}