@font-face {
    font-family: 'MiloWeb';
    src: url('../../styles/MiloWeb.woff');
}

@font-face {
    font-family: 'MiloWebBold';
    src: url('../../styles/MiloWeb-Bold.woff')
}

@font-face {
    font-family: 'MiloWebLight';
    src: url('../../styles/MiloWeb-Light.woff');
}

.checkout {
    margin: 50px;
    // border: solid black;
    color: rgb(83, 83, 83);
}

.tabs {
    text-align: center;
    cursor: pointer;
    h4 {
        font-size: 22px;
        color: rgb(83, 83, 83);
    }
}

.info {
    h3 {
        color: #03a6c9;
    }
    background-color: #F2F6FB;
    height: 300px;
    padding: 20px;
}