.featureBar{
    padding-left: 15%;
    padding-right: 15%;
    padding-top:2rem;
    padding-bottom: 2rem;
    background-color: #f2f5fb;
    img{
        width: 45px;
        height: 45px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        color: #00a5c9;
        text-align: center;
    }

}