.card {
    width: 500px;
    height: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-width: 20px;
    border-color: black;
}

.image {
    height: 150px;
}